include ~/.config/task/taskrc.base.cfg
include ~/.config/task/taskrc.theme.cfg

report.prompt.columns=start.age,description.truncated
report.prompt.labels=,
report.prompt.filter=+ACTIVE

# prompt height for limit:page
reserved.lines=3

uda.taskwarrior-tui.shortcuts.1=taskopen
uda.taskwarrior-tui.shortcuts.2=bugwarrior-pull-context

context.personal.read=-work
context.personal.write=
context.work.read=+work
context.work.write=+work
context.work_vitkutny.read=+work_vitkutny
context.work_vitkutny.write=+work_vitkutny +work

urgency.uda.jirastatus.To Do.coefficient=-5
color.uda.jirastatus.To Do=white

urgency.user.tag.next.coefficient=0
color.tag.next=black on bright yellow

urgency.user.tag.jira_general.coefficient=10
color.tag.jira_general=black on white

urgency.uda.jirastatus.In Progress.coefficient=20
color.uda.jirastatus.In Progress=black on bright cyan

urgency.uda.jirastatus.Review done.coefficient=30
color.uda.jirastatus.Review done=black on bright cyan

urgency.uda.jirastatus.In Review.coefficient=40
color.uda.jirastatus.In Review=white on blue

urgency.uda.jiraissuetype.Bug.coefficient=50
color.uda.jiraissuetype.Bug=white on red

urgency.active.coefficient=100
color.active=black on bright green
